#figure-catalog {
    font-size: 1.2rem;
    color:black;
}

#figure-catalog .name {
    font-weight: 700;
   
}

#figure-catalog .series {
    font-size: 0.9rem;
    
}

#figure-catalog i {
    margin-left: 1rem;
}